<a href="https://colab.research.google.com/github/its-rajesh/Programming-Practicum/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CS571: Week 2 | Review of Python Programming**

---


*Course:* Programming Practicum (CS571)

*Instructors:* Dr. Padmanabhan Rajan, Dr. Siddhartha Sarma

*Tutorial prepared by:* Rajesh R (S21005)

# **Running Your First Python Code**

In [ ]:
print("Hello, IIT Mandi!")

Hello, IIT Mandi!

### The `print()` function

A print is a multi-argument function which is used to print the specified message in the screen.

**Syntax**:
```
print(object(s), sep=separator, end=end, file=file, flush=flush)
```
**Parameter	Description:**

*   **object(s)**:	Any object, and as many as you like. Will be converted to string before printed.
*   **sep='separator':**	Optional. Specify how to separate the objects, if there is more than one. Default is ' '
*   **end='end'**:	Optional. Specify what to print at the end. Default is '\n' (line feed)
*   **file:**	Optional. An object with a write method. Default is sys.stdout
*   **flush:**	Optional. A Boolean, specifying if the output is flushed (True) or buffered (False). Default is False

### A few more examples

In [ ]:
print("This statement has 'quotes' within 'quotes'")

This statement has 'quotes' within 'quotes'

In [ ]:
print('Hey!', 'I am pursuing MTech CSP', sep='\n')

Hey!
I am pursuing MTech CSP

In [14]:
print('Dev Bhoomi', end='\t')
print('Himachal')

Dev Bhoomi	Himachal

In [16]:
print('#', '##', '###', sep='_*_', end='_END_')
print('###', '##', '#', sep='_*_')

#_*_##_*_###_END_###_*_##_*_#

# **Basic computations in Python**

Python provides operators (special symbols) for performing different operations

**Arithmetic Operators**:
*   Addition: `+`
*   Subtraction: `-`
*   Multiplication: `*`
*   Division: `/`
*   Floor Division: `//`
*   Modulus: `%`
*   Power: `**`

Check this [link](https://robertsj.github.io/me400_notes/lectures/Basic_Operators_and_Built-In_Functions.html#Python-Operators) for more on operators.

In [ ]:
40 + 2

42

In [ ]:
3**4

81

In [ ]:
57//4

14

In [ ]:
93%5

3

**Precedence of Operations**

P – Parentheses

E – Exponentiation

M – Multiplication (Multiplication and division have the same precedence)

D – Division

A – Addition (Addition and subtraction have the same precedence)

S – Subtraction


---


* The following order of precedence is followed in Python
```
 1. ()‘s
 2. *, /, //, and %
 3. +, -
 4. <, <=, etc.
 5. not
 6. and
 7. or

In [ ]:
17 % 5 + 12 // 4  * (3**2 - 2)

23



**Logical Operators**:
*   and: `and`
*   or: `or`
*   not: `not`

In [ ]:
1 and 0

0

In [ ]:
1 or 0

1

In [ ]:
not 12

False

**Comparison Operators**:
*   Greater than: `>`
*   Lesser than: `<`
*   Comparison: `==`
*   Not Equal to: `!=`
*   is same: `is`
*   is not same: `is not`
*   Greater than equal to: `>=`
*   Less than equal to: `<=`

In [ ]:
10 > 5

True

In [ ]:
-1 < -0.5

True

In [ ]:
3.14 != 3.5

True

# **Data Types**

A **value** is one of the basic things a program works with, like a letter or a number. Some values we have seen so far are 2, 42.0, and 'Hello, World!'.

These values belong to different data types: 2 is an **integer**, 42.0 is a **floating-point** number, and 'Hello, World!' is a **string**, so-called because the letters it contains are strung together.

A type function can tell you what data type is!
```
type()
```

In [ ]:
type(12)

int

In [ ]:
type(99.9)

float

In [ ]:
type("I love my country, India")

str

Anything written within single or double quotes is represented as a string.

In [ ]:
type('12')

str

In [ ]:
type('99.9')

str

In [ ]:
type('Single Quote and Double Quote can be used interchangeably')

str

# **Variables**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

**Rules for Python variables:**


---

*   A variable name must start with a letter or the underscore character, e.g., *name*, *_name*
*   A variable name cannot start with a number, e.g., *1ticketCost* is not allowed
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ), e.g., *Room2_temp*
*   **Variable names are case-sensitive**, e.g., *age*, *Age* and *AGE* are three different variables)

In [ ]:
n = 'Rajesh'
name = 'Rajesh'
myname = 'Rajesh'
my_name = 'Rajesh'
_name = 'Rajesh'
name_ = 'Rajesh'
myName = 'Rajesh'
name2 = 'Rajesh'

In [ ]:
fav_pet = 'Dog'
fav_peT = 'cat'
print(fav_pet, fav_peT)

Dog cat

In [ ]:
6name = 'Rajesh'
name$ = 'Rajesh'

SyntaxError: ignored

 **Arthimetic, logical and relational operations using variables**

In [ ]:
a = 10
b = 50
a//b

0

In [ ]:
a**2

100

In [ ]:
a == b

False

In [ ]:
a = 10
b = 1
c = 15
d = 22

print(a*b+(c/(c/d)))

32.0

**Assignment Operator**
`=` : Assigns value from right to left variable
* `a = b` 	The value stored in `b` is assigned to the variable `a`
* `a += b` 	equivalent to `a = a + b`
* `a -= b` 	equivalent to `a = a - b`
* `a *= b` 	equivalent to `a = a * b`
* `a /= b` 	equivalent to `a = a / b`
* `a //= b` equivalent to `a = a // b`
*	`a %= b` 	equivalent to `a = a % b`
*	`a = a**b` equivalent to `a = a**b`

More operators can be found [here](https://robertsj.github.io/me400_notes/lectures/Basic_Operators_and_Built-In_Functions.html#Python-Operators).

In [ ]:
a%2 == 0 and c %3 == 0 or d//2+6 == 11

True

* **String Operations:**

> `+` : Concatenates two strings
>
> `*` : Replicates the strings. (The operator should follow a number)

In [ ]:
'Incredible'+' India'

'Incredible India'

In [ ]:
'India'*2

'IndiaIndia'

In [ ]:
'22'+'54'

'2254'

In [ ]:
'12'*3

'121212'

# **Type casting**

We can define a type of data using type casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types. Casting in python is therefore done using constructor functions:



```
int()
str()
float()
```

In [ ]:
a = 12
b = int(a)
print("Type of a is: ", type(a))
print("Type of b is: ", type(b))

Type of a is:  <class 'int'>
Type of b is:  <class 'int'>

In [ ]:
a = 12.01
b = int(a)
print("Type of a is: {}\nType of b is: {}".format(type(a), type(b)))

Type of a is: <class 'float'>
Type of b is: <class 'int'>

In [ ]:
a = '14'
b = int(a)
print("Type of a is: {}\nType of b is: {}".format(type(a), type(b)))

Type of a is: <class 'str'>
Type of b is: <class 'int'>

Fails to cast if wrong casting is given

In [ ]:
a = "Hello"
b = int(a)
print("Type of a is: {}\nType of b is: {}".format(type(a), type(b)))

ValueError: ignored

# **Conditional Statements**

**If Statement**: Fundamental decision making statement. The statement inside the block is executed only when the condition is true.

Syntax:
```
if expression:
  statement
```

In [ ]:
if 22.0 == 22:
  print("True")

True

In [ ]:
nationality = 'Indian'

if nationality == "Indian":
  print("The guy is Indian")

The guy is Indian

In [ ]:
number = 6

if number%2 == 0:
  print("Number is even")

Number is even

**If else Statement**:The statement inside the block is executed only when the condition is true. If the condition is false, then the statements in else block will be executed.

Syntax:
```
if expression:
  statement
else:
  statement
```

In [ ]:
number = 61

if number%2 == 0:
  print("Number is even")
else:
  print("Number is odd")

Number is odd

**Nested If else Statement**: Contains many branches of if else statements. Statement inside the if or else block can also contain if else statements.

Syntax:
```
if expression:
  statement
elif expression:
  statement
else:
  statement
```

In [ ]:
mark = 89

if mark < 50:
  print("You have failed in the CS571 course!")
  if mark <= 35:
    print("Grade Obtained: F")
  else:
    print("Grade Obtained: E")
else:
  print("Hurray! You have cleared CS571 course!")
  if mark >= 50 and mark <= 65:
    print("Grade Obtained D")
  elif mark >65 and mark <= 75:
    print("Grade Obtained C")
  elif mark >75 and mark <= 85:
    print("Grade Obtained B")
  elif mark >85 and mark <= 95:
    print("Grade Obtained A")
  else:
    print("Grade Obtained O")

Hurray! You have cleared CS571 course!
Grade Obtained A

# **Looping Statements**

Looping statements allows us to iterate a specific statements certain number of times

**While** and **for** loops are available in python

**While** **Loop Syntax:**

```
while expression:
  statement
```

In [ ]:
n = 20
while n>=0:
  print(n)
  n = n-2

20
18
16
14
12
10
8
6
4
2
0

**for** **Loop Syntax:**

```
for expression:
  statement
```

Usually `range` function is used along with `for`. The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

Syntax:
```
range(start, stop, step)
```
The default step is 1 and start is 0 if not specified

In [90]:
n = 20
k = n//2+1
for i in range(k):
  print(n)
  n = n-2

20
18
16
14
12
10
8
6
4
2
0

**Loop Control Statements**



*   `break` statement: Terminates the loop statement and transfers execution to the statement immediately following the loop.
*   `continue` statement: Causes the loop to skip the remainder of its body and immediately retest its condition prior to reiterating.
*   `pass` statement: The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.

In [ ]:
while True:
  print("Executed Once")
  break

Executed Once

In [ ]:
try:
  if k >= 12:
    print(k)
except:
  pass

In [ ]:
a = 12
while a >= 0:
  a -= 1
  continue

# **Miscellaneous**

**String Int Concatenation**

In [17]:
name = 'Rajinikanth'
age = 71

concat = name+str(age)
print(concat)

Rajinikanth71

**Additional Examples**

In [23]:
# Code for obtaining the one's digit for an given number (Example for string-int type casting)
number = 2312
string_number = str(number)
ones_digit = string_number[-1]
ones_digit = int(ones_digit)
print(ones_digit)

2

In [26]:
# Printing Various Patterns (Example of separators in print, usage of nested for loops)
n = 10 #no of levels to print
for i in range(n):
  for j in range(i):
    print('#', end='\t')
  print('', end='\n')

#
#	#
#	#	#
#	#	#	#
#	#	#	#	#
#	#	#	#	#	#
#	#	#	#	#	#	#
#	#	#	#	#	#	#	#
#	#	#	#	#	#	#	#	#

Modify the above codes to obtain the following patterns

```
#####
####
###
##
#

```

```
    #
   ###
  #####
   ###
    #

```

```
I
II
IIT
IITM
IITMA
IITMAN
IITMAND
IITMANDI
```

```
I
II
TTT
MMMM
AAAAA
NNNNNN
DDDDDDD
IIIIIII
```

In [48]:
#Butterfly Pattern Printing

n = 12 #Should be even

for i in range(n):
  for j in range(n+1):
    if i==j or i+j == n:
      print('*', end='')
    elif j == n//2 or j == n//2+1 or j == n//2-1:
      print('|', end='')
    else:
      print(' ', end='')
  print('')

*    |||    *
 *   |||   *
  *  |||  *
   * ||| *
    *|||*
     *|*
     |*|
     *|*
    *|||*
   * ||| *
  *  |||  *
 *   |||   *

In [86]:
# Printing Arrows
n = 10 # Levels should be >=4 and even.
k = n//2*3

for i in range(n+1):
  for j in range(n):
    if (i == n/2 or j-i == n/2 or i+j == k):
      print('*', end='')
    else:
      print(' ', end='')
  print('')

print('\n')

for i in range(n+1):
  for j in range(n):
    if (i == n/2 or i-j == n/2 or i+j == n/2):
      print('*', end='')
    else:
      print(' ', end='')
  print('')

     *
      *
       *
        *
         *
**********
         *
        *
       *
      *
     *


     *
    *
   *
  *
 *
**********
 *
  *
   *
    *
     *