<a href="https://colab.research.google.com/github/its-rajesh/Programming-Practicum/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CS571: Week 3 | Review of Python Programming & Advanced Data Types**

---


*Course:* Programming Practicum (CS571)

*Instructors:* Dr. Padmanabhan Rajan, Dr. Siddhartha Sarma

*Tutorial prepared by:* Rajesh R (S21005)

# **Functions**

Functions can be used whevever we need to run a specific block of code only when it is required. Also, It is used when a certain block of codes to be repeated many times with different data inputs.

---

**SYNTAX**

*   **Function definition**:

```
def functionname(parameters):
  #block of code to be executed when called
```
`def` is a keyword in python followed by the function name. A function may or may not have parameters.

*   **Function call**

```
functionname(arguments)
```
Whenever we call a function, the code within the function gets executed.


---
**Important terminologies**

> **Parameters**: The variables that are written during a function definition

> **Arguments**: The variables that are actully passed to a function



```
def first_function(name, age, school='SCEE', **kwargs):
  pass
```

Here name, age, school, and kwargs are parameters of a funtion 

```
first_function(name='Krishna', age='18')
```

'Krishna' and 18 are the arguments to the function

> **Return type**: The results that are produced by the function when it is called

In [1]:
def first_function():
  print("Hello, MTech CSP!")
  
first_function()

Hello, MTech CSP!

**Types of functions**

Functions can be classified based on the parameters and the return type. There are four classes of functions
1. With parameters and with return type
2. With parameters and without return type
3. Without parameters and with return type
4. Without parameters and without return type

**Function without parameters and without return type**

In [2]:
def first_function():
  print("Hello, MTech CSP!")
  
first_function()

Hello, MTech CSP!

The above code does not have any parameters and does not return any value when it is called.

**Function with parameters and without return type**

In [3]:
def first_function(department):
  print("Hello, MTech "+department+"!")

department = "CSE"
first_function(department)

Hello, MTech CSE!

The above code has the parameter *department* and passed it to the function when it is called. The function does not return any value.

**Function with parameters and with return type**

In [4]:
def first_function(department):
  output = "Hello, MTech "+department+"!"
  return output #function returns some value

department = "CSE"
output = first_function(department)
print(output)

Hello, MTech CSE!

**Function without parameters and with return type**

In [5]:
def first_function():
  output = "Hello, MTech CSP!"
  return output #function returns some value

output = first_function()
print(output)

Hello, MTech CSP!

Some more examples

In [6]:
def first_function(department):
  output = "Hello, MTech "+department+"!"
  return output 


print(first_function("CSP"))
print(first_function("CSE"))
print(first_function("VLSI"))

Hello, MTech CSP!
Hello, MTech CSE!
Hello, MTech VLSI!

In [8]:
def first_function(department):
  print("Hello, MTech "+department+"!")

department = "CSE"
output = first_function(department) # As the function does not returns anything, defaults returns None
print(output)

Hello, MTech CSE!
None

# **Lambda Function**

Python has special function called the lambda function. It is a small function with only one expression and can take many arguments.



```
lambda arguments : expression

```

In [9]:
add_function = lambda a, b : a+b

sum = add_function(10, 20)
print(sum)

30

In [10]:
add_function = lambda a, b,c : a+b+c

sum = add_function(10, 20, 30)
print(sum)

60

This example illustrates the power and use of lambda functions

In [13]:
def somefunc(n):
  return lambda a : a ** n

powersof2 = somefunc(2)
powersof3 = somefunc(3)

print(powersof2(2))
print(powersof3(2))

4
8

# **Understanding Scope of Variables**

There are four classes of scopes in python
1. Local scope
2. Enclosing scope
3. Global scope
4. Built-in

Example for unserstanding variable scope

In [15]:
def func(b):
  a = 10 #local variable
  x = a+b
  return x

x = func(10)
print(a, b, x)

NameError: ignored

In the above example, `a` is the local variable and that is being used outside of the function. Here `a` variable has the local scope. One can use a within the function not outside the function. Such usage of variables are defined by scopes

### **Local Scope**

In [17]:
def func(b):
  a = 10 #local variable and a has local scope
  x = a+b
  return x

x = func(10)
print(x)

20

The Variable `a` has the local scope as it is defined within the function. `a` cannot be used outside the function

### **Global Scope**

In [19]:
message = 'I am a global variable' #The 'message' is a global variable and has global scope

def func():
  print(message)

func()

I am a global variable

`message` variable is defined globally in the above code. Thus it has global scope. So it can be used within or outside the functions also.

In [21]:
message = 'I am a global variable' #The 'message' is a global variable and has global scope

def func():
  message = 'I am a local variable' # same variable as global variable.
  print(message)

func()
print(message)

I am a local variable
I am a global variable

The above example illustrates the variable scope altogather. whenever there is a local variable defined with the same name of global variable, local variable has scope within the function. Outside the function, global variable has the scope.

### **Enclosing Scope**

A Variable that doesnot come under local or global are called enclosing scope

In [27]:
name = 'Rajesh'  # Global scope
def college():
  institute = 'IIT Mandi' # Enclosing scope
  def programme():
    dept = 'MS by Research' # Local scope
    print('Hey, I am '+name+' pursuing '+dept+' at '+institute)

  programme()
college()

Hey, I am Rajesh pursuing MS by Research at IIT Mandi

### **Builin Scope**

All the reserved names in Python built-in modules have a built-in scope. 

Python would see in the local scope first to see which of the variables are defined in the local scope, then it will look in the enclosing scope and then global scope. If the identifier is not found anywhere then, at last, it will check the built-in scope.

Built-in scopes are one of the widest scopes that cover all the reserved keywords. These are easy to call anywhere in the program prior to using them, without the need to define them.

In [28]:
a = 5.5
int(a)
print(a)
print(type(a))

5.5
<class 'float'>

# **Recursion**

A function that call itself is called recursion. It has wide applications. For example factorial of a given number and generating a fibonacci series is explanied using recursion below.

In [31]:
'''
GETTING FACTORIAL OF THE GIVEN NUMBER USING RECURSION
'''
def factorial(n):
  if n == 1:
    return n
  elif n == 0:
    return 1
  else:
    return n*factorial(n-1)

num = 5
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [33]:
'''
GENERATING FIBONACCI SERIES USING RECURSION
'''
def fibonacci(n):
  if n <= 1:
      return n
  else:
      return(fibonacci(n-1) + fibonacci(n-2))
 
n_terms = 10
for i in range(n_terms):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

There are some disadvantages of using recursion. They use more memory and takes more time for recursive calls. Also, It is hard to debug.

The same factorial and fibonacci is generated without using recursion. You can note the time taken and compare both the methods.

In [38]:
'''
GETTING FACTORIAL OF THE GIVEN NUMBER WITHOUT RECURSION
'''
num = 5
n = num #for printing
fact = 1
while(num > 0):
    fact = fact*num
    num=num-1

print("The factorial of",n, "is", fact)

The factorial of 5 is 120

In [42]:
'''
GENERATING FIBONACCI SERIES WITHOUT RECURSION
'''
a = 0
b = 1
n = 10
print(a,b, sep='\n')
while(n-2):
    c=a+b
    a=b
    b=c
    print(c)
    n=n-1

0
1
1
2
3
5
8
13
21
34

# **Arrays and Lists**

* An array is an advanced data type in python which can hold more than one value at a time of similar datatype.

* Arrays hold multiple variables of same datatype where as list can hold multiple variables of differnt datatypes too.

* **Python does not have built-in support for Arrays, but Python Lists can be used instead.** However if we need to work with arrays we can import from the numpy library.

* Strings are stored as an array

### **Basic methods**

In [57]:
array = [1, 2, 3, 4] #here array is an list which holds collection of same datatype (int)

In [45]:
# Accessing values

print(array[0]) #prints value at 0th position
print(array[3]) #prints value at 3rd position
print(array[-1]) #prints the final value

1
4
4

In [46]:
# length of the array
print(len(array))

4

In [47]:
#looping array elements
for elements in array:
  print(elements)

1
2
3
4

In [58]:
# adding new elements to array/list using append
array.append(5)
print(array)
#append always adds element in last

[1, 2, 3, 4, 5]

In [59]:
# adding new elements to list using insert (This is not applicable for array concepts)
array.insert(6, 6) # inserts '6' in 6th position
print(array)

[1, 2, 3, 4, 5, 6]

In [60]:
# removing array/list elements
array.pop()
print(array)
# pop removes element from last

[1, 2, 3, 4, 5]

In [61]:
# deleting certain values at the given index of an array
del array[4]
print(array)

[1, 2, 3, 4]

In [62]:
# Deleting using remove in list
array.remove(3) #this statement removes element 3 in array without reffering to index
print(array)

[1, 2, 4]

### **More operations on list**

More list methods can be seen [here](https://docs.python.org/3/tutorial/datastructures.html)

In [64]:
# Reversing a list

array = [1, 2, 3, 4, 5]
array.reverse()
print(array)

[5, 4, 3, 2, 1]

In [66]:
# Sorting a list

array = [5, 3, 8, 4, 1, 9]
array.sort(reverse=True) # for decending order
print(array)

array.sort(reverse=False)
print(array) # for ascending order

[9, 8, 5, 4, 3, 1]
[1, 3, 4, 5, 8, 9]

**Copying a list**

1. Shallow copy: changes in the copy list gets reflected to the main list
2. Deep copy: changes in the copy list does not gets reflected to the main list

In [70]:
array = ['Hi', 'Hello', 'Hey']
copy_array = array.copy()
#print(copy_array)

copy_array.pop()
print(copy_array, array)

['Hi', 'Hello'] ['Hi', 'Hello', 'Hey']

### **String operations using list**

In [72]:
name = 'Rajesh'
print(name[0])
print(name[-1])

R
h

In [73]:
for character in name:
  print(character)

R
a
j
e
s
h

In [76]:
name_as_list = list(name)
print(name_as_list)

['R', 'a', 'j', 'e', 's', 'h']

In [80]:
name = 'RAJESH'
rev_name = name[::-1]
print(rev_name)

HSEJAR

More examples can be seen in week4 under module String Manipulation

# **Multidimensional Arrays/List**

A list inside a list is called 2D list. A list with all elements of 2D lists are called 3D list, and so on.

Marices are often used as 2D lists

In [82]:
matrix = [[1, 2], [3, 4]]
print(matrix) #A 2D list

[[1, 2], [3, 4]]

In [83]:
#Accessing elements, deleting or adding is everything same as single dimensional lists.

print(matrix[0][0])
print(matrix[-1][-1])

1
4

In [85]:
matrix = [[[1, 2], [3, 4]], [[1, 2], [3, 4]]]
print(matrix) #A 3D list

print(matrix[0][0][0])
print(matrix[-1][-1][-1])

[[[1, 2], [3, 4]], [[1, 2], [3, 4]]]
1
4

Some more examples:

In [90]:
'''
CODE FOR CALCULATING L2 NORM OF AN MATRIX
'''
row = 3
col = 3
matrix = [[1, 1, 1], [1, 1, 1], [1, 1, 1]]

sum = 0
for i in range(row):
  for j in range(col):
    sum = sum + matrix[i][j]*matrix[i][j]

print(sum)

9

In [93]:
'''
CODE FOR CALCULATING TRANSPOSE OF AN MATRIX
'''
row = 3
col = 3
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []

for i in range(row):
  temp = []
  for j in range(col):
    temp.append(matrix[j][i])
  transpose.append(temp)

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# **Stacks & Queues**

We can use lists as stacks and queues

![stack.png]()

### **Stacks**

In [102]:
stack = [8, 4, 2, 6, 7]
stack.append(0)
stack.append(1)
print(stack)

[8, 4, 2, 6, 7, 0, 1]

In [103]:
stack.pop()
print(stack)

[8, 4, 2, 6, 7, 0]

In [104]:
stack.pop()

0

In [105]:
print(stack)

[8, 4, 2, 6, 7]

### **Queue**

In [106]:
from collections import deque #This library is needed for queue operation

In [109]:
queue = deque(['Hi', 'Hello', 'Hey'])

queue.append('Hola')
queue.append('Heyaa')
print(queue)

deque(['Hi', 'Hello', 'Hey', 'Hola', 'Heyaa'])

In [110]:
queue.popleft()

'Hi'

In [112]:
queue.popleft()

'Hello'

In [113]:
queue

deque(['Hey', 'Hola', 'Heyaa'])

### Some popular example in stacks and queues: **Balancing Paranthesis Problem**

Check whether the brackets are balanced or not.

In [121]:
'''
USING STACKS
'''

open_brackets = ["[","{","("]
close_brackets = ["]","}",")"]
  

def balancingParanthesis(brackets):
    stack = []
    for i in brackets:
        if i in open_brackets:
            stack.append(i)
        elif i in close_brackets:
            pos = close_brackets.index(i)
            if ((len(stack) > 0) and (open_brackets[pos] == stack[len(stack)-1])):
                stack.pop()
            else:
                return "Unbalanced"
    if len(stack) == 0:
        return "Balanced"
    else:
        return "Unbalanced"
  
  

brackets = "{[]{()}}"
print(brackets, balancingParanthesis(brackets))

{[]{()}} Balanced

In [124]:
'''
USING QUEUE
'''

def check(brackets):

    open_brackets = tuple('({[')
    close_brackets = tuple(')}]')
    map = dict(zip(open_brackets, close_brackets))
    queue = []
  
    for i in brackets:
        if i in open_brackets:
            queue.append(map[i])
        elif i in close_brackets:
            if not queue or i != queue.pop():
                return "Unbalanced"
    if not queue:
        return "Balanced"
    else:
        return "Unbalanced"
  
  
brackets = "((()"
print(brackets,check(brackets))

((() Unbalanced